/* ============================== Estilos gerais ==============================  */
:root {
  --title-color: #a3956d;
  --text-color: #e7bf62;
}

p {
  font-size: 14px;
  line-height: 20px;
}

/* ============================== HEADER ==============================  */
.header {
  position: fixed;
  top: 0;
  background-image: linear-gradient(to bottom right, #333133, #555553);
  z-index: 10;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100vw;
}

.header-menu {
  text-align: left;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.header-menu ul {
  display: flex;
  
  align-items: center;
  justify-content: space-between;
}

.header-menu ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  display: inline-block;
  margin-left: 25px;
}

.header-menu ul li a {
  color: var(--text-color);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
  /* padding para aumentar a área clicável */
  padding: 10px 0;
  transition: opacity 0.2s;
}

.header-menu ul li a:hover {
  color: #fff;
  opacity: 0.7;
}

/* ============================== Introduçao ==============================  */

.introducao {
  width: 100%;
  height: 1090px;
  text-align: center;
  /* 
  Alinhamento vertical do texto central 
  */
  padding-top: 220px;
  background: url("../img/photo-panoramic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
}
  
section div p {
    font-family: "Crimson Text", serif;
    font-size: 70px;
  }


.introducao h1 {
  font-size: 48px;
  color: var(--title-color);
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #000000;
}

.descricao {
  /* max-width: 460px; */
  margin: 0 auto 40px auto;
  color: #fff;
  padding: 10px;
}

.descricao p {
  font-style: italic;
  font-size: 20px;
  text-shadow: 2px 2px 4px #000000;
}

.descricao p:before,
.descricao p:after {
  content: "";
  display: block;
  width: 300px;
  height: 3px;
  background: #fff;
  box-shadow: 2px 2px 8px #000000;
  margin: 20px auto 20px auto;
}

section div .container a {
  color: var(--title-color);
  text-shadow: 1px 1px 3px #333;
}

.btn {
  border: 3px solid var(--title-color);
  box-shadow: 0px 0px 1px #333;
  padding: 10px 30px;
  color: rgb(105, 96, 70);
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1em;
  transition: opacity 0.2s;
}

.btn:hover {
  border-color: var(--title-color);
  opacity: 0.7;
}

/* ============================== Footer ==============================  */

.footer {
  width: 100%;
  background-image: linear-gradient(to bottom right, #333133, #555553);
  color: #f7f7f7;
  padding: 5px 0;
}

.footer ul li h3 {
  font-size: 14px;
  line-height: 25px;
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

/* linha divisória entre titulo e conteúdo. REMOVER

 .footer h3:after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  color: var(--text-color);
  margin: 6px 0 12px 0;
} */

.footer-phrase {
  padding-right: 40px;
}

.footer-contato ul li {
  font-size: 14px;
  line-height: 20px;
  font-family: "Crimson Text", serif;
}

.footer-redes ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer-redes ul li a {
  display: block;
  padding: 5px;
}

.footer-redes ul li a img {
  height: 18px;
  width: 18px;
}

.footer-redes ul li a img:hover {
  /* border: 1px solid #fec63e; */
}

.copyright {
  width: 100%;
  background: var(--text-color);
  padding: 14px 0;
}
